<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
         
        <!-- Datasource Details -->
        <property name="hibernate.connection.driver_class">
            oracle.jdbc.driver.OracleDriver
        </property>
        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@localhost:1521:xe
        </property>
        <property name="hibernate.connection.username">sktestdb</property>
        <property name="hibernate.connection.password">sktestdb</property>
         
        <!-- Hibernate Properties -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.Oracle10gDialect
        </property>
         
        <!-- Resource Mapping -->
        <mapping class="sk.hibernate.pojo.Customer"/>
         
    </session-factory>
</hibernate-configuration>